.ListaContactos {
  display: flex;
  justify-content: flex-end;
}
.Layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.sidebar {
  width: 25%;
  background-color: #f7f7f7;
  border-right: 1px solid #ddd;
  overflow-y: auto;
  padding: 15px;
  a {
    width: 100%;
  }
  button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    background: darkgrey;
    text-align: left;
    transition: background 0.2s;
    cursor: pointer;
  }
  ul {
    width: 100%;
    margin-right: 10px;
  }
}

.Formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 50px;
}
.MensajeCreadoUsuario {
  color: green;
  font-weight: bold;
}
.footer {
 position: sticky;
  bottom: 0;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  input {
     flex-grow: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  }

  button {
   padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  }

  button:hover {
    background: #131813;
  }
}

.messageDrch {
  background: #eaaba6;
  margin-left: auto;
  margin-right: 0;
  max-width: 70%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 8px;
  text-align: left;
  display: block;
}

.messageIzq {
  background: #b7f1b7;
  margin-right: auto;
  margin-left: 0;
  max-width: 70%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 8px 12px;
  margin-bottom: 8px;
  text-align: left;
  display: block;
}
.BotonesSidebar {
  padding: 0;
  margin: 0;
}
.MostrarMensajess {
  flex-grow: 1;           
  overflow-y: auto;       
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  background-color: #fff;
  box-sizing: border-box;
  overflow-y: auto; /* scroll en todo */
}
